<%= render 'layouts/error_messages', object: @activity %>

<%= form_for @activity do |f| %>

  <%= f.hidden_field :user_id %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <%= f.submit class: 'btn btn-primary' %>
<% end %>

<br><br>

<%= fa_icon "arrow-left" %> <%= link_to 'Back to activities', activities_path %>
