<h3><%= @activity.name %> - <%= link_to 'Edit', edit_activity_path(@activity) %></h3>
<p>Occurence: <%= @activity.occurrence %></p>
<p>Details: <%= @activity.details %></p>

<h5>These activity is happening in:</h5>
<ul>
  <%= render(@locations) || 'The activity is not happening anywhere.' %>
</ul>
