<h3><%= @activity.name %> - <%= link_to 'Edit', edit_activity_path(@activity) %> - <%= link_to 'Delete', activity_path(@activity), method: :delete, data: { confirm: 'Are you sure?' } %></h3>

<p>Occurence: <%= @activity.occurrence == '' ? 'A week day has not been selected yet' : @activity.occurrence %></p>
<p>Time: <%= @activity.time.try(:strftime, ('%l:%M %p')) %></p>
<p>Details: <%= @activity.details == '' ? 'No details have been added' : @activity.details %></p>

<h4>This activity is happening in these locations:</h4>

<% if @locations == [] %>
  <p>You have not added any locations for this activity yet.</p>
<% else %>
  <ul><%= render(@locations) %></ul>
<% end %>
<br>

<%= fa_icon "arrow-left" %> <%= link_to 'Back to activities', activities_path %>
