<%= fa_icon "arrow-left" %> <%= link_to 'Back to activities', activities_path %><br><br>

<h3><%= @activity.name %></h3>
<p><%= link_to 'Edit', edit_activity_path(@activity) %> - <%= link_to 'Delete', activity_path(@activity), method: :delete, data: { confirm: 'Are you sure?' } %></p>

<% @location_activities.each do |a| %>
  <ul>
    <li><strong>Location: </strong><%= a.location.name %> - <%= a.location.city %></li>
    <li><strong>Rating: </strong><%= a.rating %></li>
    <li><strong>Details: </strong><%= a.details %></li>
  </ul>
<% end %>

<%= link_to 'Add additional information for this activity', new_activity_location_activity_path(@activity) %><br>
