<h3><%= @location.name %></h3>
<p><%= link_to 'Edit', edit_location_path(@location) %> - <%= link_to 'Delete', location_path(@location), method: :delete, data: { confirm: 'Are you sure?' } %></p>

<p>City: <%= @location.city == '' ? 'No City Found' : @location.city %></p>
<p>State: <%= @location.state == '' ? 'No State Found' : @location.state %></p>
<p>Zip Code: <%= @location.zip_code == '' ? 'No Zip Code Found' : @location.zip_code %></p>

<h5>Activities in this location:</h5>

<% if @activities == [] %>
  <p>You have not added any activities to this location yet.</p>
<% else %>
  <ul><%= render(@activities) %></ul>
<% end %>
<%= link_to 'Add a new activity to this location', new_location_activity_path(@location), method: :get %><br><br>

<%= fa_icon "arrow-left" %> <%= link_to 'Back to locations', locations_path %>
