<%= fa_icon "arrow-left" %> <%= link_to 'Back to locations', locations_path %><br><br>

<h3><%= @location.name %></h3>
<p><%= link_to 'Edit', edit_location_path(@location) %></p>

<p><strong>City:</strong> <%= @location.city == '' ? 'No City Found' : @location.city %></p>
<p><strong>State:</strong> <%= @location.state == '' ? 'No State Found' : @location.state %></p>
<p><strong>Zip Code:</strong> <%= @location.zip_code == '' ? 'No Zip Code Found' : @location.zip_code %></p>

<h5>Activities in this location:</h5>

<% if @activities == [] %>
  <p>You have not added any activities to this location yet.</p>
<% else %>
  <% @location_activities.each do |a| %>
    <ul>
      <li><strong>Activity: </strong><%= a.activity.name %></li>
      <li><strong>Rating: </strong><%= a.rating %></li>
      <li><strong>Details: </strong><%= a.details %></li>
    </ul>
  <% end %>
<% end %>
